    <footer class="ph2 ph4-ns pv2 bg-white bt b--light-gray __no-print __link __underline">

      <p class="f6 ma0">Hive is a new network designed to help businesses across East Anglia grow and prosper.</p>

    </footer>

    {% if page.jquery %}<script src="/js/jquery-3.4.1.min.js" async></script>{% endif %}
    {% if page.toggle %}
    <script>
      $('.__toggler').click(function() { $(this).next().toggle();});
    </script>
    {% endif %}

    <script src="https://www.eventbrite.co.uk/static/widgets/eb_widgets.js" async></script>

    <script>
        var exampleCallback = function() {
            console.log('Order complete!');
        };

        window.EBWidgets.createWidget({
            widgetType: 'checkout',
            eventId: '83636875145',
            modal: true,
            modalTriggerElementId: 'eventbrite-widget-modal-trigger-83636875145',
            onOrderComplete: exampleCallback
        });
    </script>

  </body>

</html>
