    <footer>

      <!-- {% if page.is_home %}

        <div class="ph2 ph4-ns pv3 bg-blue white bt b--light-gray __underline">

          <div class="__wrapper center">

            <h2 class="f4 lh-title tc">Speakers</h2>

            {% assign speakers = site.speakers | where: "featured", "true" %}

            <div class="flex-ns flex-wrap-ns">

            {% for speaker in speakers %}

              <div class="w-third-ns ph2-ns mv2">

                <img src="/assets/{{ speaker.img }}" alt="{{ speaker.name }}" class="shadow-4 db center br-100">

                <p class="f6 tc">{{ speaker.name }} <br>{{ speaker.employer }}</p>

              </div>

            {% endfor %}

            </div>

            <p class="tc"><a class="ba b--white pa2 br2 b bg-light-gray hover-bg-near-white dark-blue no-underline" href="/speakers/">Full speaker list &rarr;</a></p>

          </div>

        </div>

      {% endif %}

      <div class="ph2 ph4-ns pv3 bg-black near-white bt b--light-gray __underline">

        <div class="__wrapper center">

          <div class="w-two-thirds-l">

            <ul class="ma0 pa0 list flex-ns flex-wrap-ns">

              {% assign items = site.pages | sort: "nav-order" %}

              {% for item in items %}

                {% if item.nav-order %}

                {% unless item.hide %}

                <li class="w-third-ns ph1-ns f6 f5-ns"><a href="{{ item.url }}" class="dib pv1 no-underline light-blue hover-lightest-blue">{{ item.title }}</a></li>

                {% endunless %}

                {% endif %}

              {% endfor %}

            </ul>

          </div>

        </div>

      </div> -->

      <div class="ph2 ph4-ns pv2 bg-white bt b--light-gray __link __underline">

        <p class="f6 ma0">Hive is a new network designed to help businesses across East Anglia grow and prosper.</p>

        <ul class="mh0 mv3 pa0 list">

          <li class="dib mr2 mr3-ns"><a href="https://hivesuffolk.co.uk"><img class="dib mv2 mw4 v-mid" alt="Hive logo" src="/assets/logo.png"></a></li>
          <li class="dib"><a href="https://www.suffolklibraries.co.uk"><img class="dib mv2 mw4 v-mid" alt="Suffolk Libraries logo" src="/assets/sl-logo.jpg"></a></li>

        </ul>

      </div>

    </footer>

    {% if page.jquery %}<script src="/js/jquery-3.4.1.min.js"></script>{% endif %}
    {% if page.toggle %}
    <script>
      $('.__toggler').click(function() { $(this).next().toggleClass( "clip" );});
    </script>
    {% endif %}

    <script src="https://www.eventbrite.co.uk/static/widgets/eb_widgets.js"></script>

    <script>
        var exampleCallback = function() {
            console.log('Order complete!');
        };

        window.EBWidgets.createWidget({
            widgetType: 'checkout',
            eventId: '90507218527',
            modal: true,
            modalTriggerElementId: 'eventbrite-widget-modal-trigger-90507218527',
            onOrderComplete: exampleCallback
        });
    </script>

  </body>

</html>
