<!DOCTYPE html>

<html lang="{{ site.lang }}" class="f4-ns">

    <head>

      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156550196-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-156550196-1');
      </script>


      {% if page.is_home %}
      <title>{{ site.title }}</title>
      <meta name="description" content="{{ site.description }}">
      {% else %}
      <title>{{ page.title }} &#8211; {{ site.title }}</title>
      {% endif %}

      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">

      {% if site.css == 'inline' %}
      <style>
          {% capture inline-styles %}
          {% include style.scss %}
          {% endcapture %}
          {{ inline-styles | scssify }}
      </style>
      {% else %}
      <link href="/css/style.css" rel="stylesheet">
      {% endif %}

      <!-- {% if page.is_home %} 🦉 include event-json.html {% endif %} -->

    </head>

    <body class="__sans-serif ma0 pa0 bg-near-white dark-gray lh-copy">

      <p class="clip"><a href="#content">Skip to content</a></p>

      <header>

        {% unless page.hide-header %}

          <div class="bg-light-yellow black ph2 ph4-ns pv2 pv3-ns bb b--light-gray __no-print">

            <h1 class="f2 lh-title">Important notice: Summit postponed.</h1>

            <p class="f4">Due to the Coronavirus situation we have decided to postpone the summit until September 2020. <br><a href="/postponement/" class="dark-blue __underline b">Refunds and more info &rarr;</a></p>

          </div>

        {% endunless %}

        <div class="bg-dark-gray white ph2 ph4-ns pv2 bb b--light-gray flex">

          <div class="b ttl small-caps tracked w-50"><a href="/" class="f6 no-underline dib gold hover-white pv2"><img src="/assets/logo.png" class="v-btm" alt="Hive"></a></div>

          <div class="dn w-50 tr pt2 __no-print">

            <noscript><a href="https://www.eventbrite.com/e/proactive-workplace-mental-health-summit-2020-tickets-90507218527" rel="noopener noreferrer" class="light-gray hover-white">Buy ticket on Eventbrite website</a></noscript>

            <button id="eventbrite-widget-modal-trigger-90507218527" type="button" class="f6 pointer pa2 bg-blue hover-bg-dark-blue white br2 ba b--silver shadow-4 b di v-btm">Buy tickets</button>

          </div>

        </div>

      </header>

      <nav class="__no-print mb3 ph2 ph4-ns pv2 bb b--light-gray bg-white">

        <ul class="flex flex-none-l flex-wrap ma0 pa0 list f6">

          {% assign items = site.pages | sort: "nav-order" %}

          {% for item in items %}

            {% if item.nav-order %}

            {% if item.show %}

            <li class="w-third dib-ns w-auto-l mr4-l pv1 pv0-l"><a href="{{ item.url }}" class="no-underline{% if page.title == item.title %} black bb{% else %} dark-blue hover-black{% endif %}">{{ item.title }}</a></li>

            {% endif %}

            {% endif %}

          {% endfor %}

        </ul>

      </nav>

      <main id="content" class="__wrapper center bg-white mb3 min-vh-100">

        <article>

          {% unless page.hide-header %}

            <div class="ph2 ph4-ns pv2 pv3-l flex-l items-center-l bg-blue bb b--light-gray __no-print">

              <div class="w-50-l pr2-l">

                <div class="ttu f7"><span class="ph2 pv1 __box-decoration-break-clone bg-black white dib">30 <br>Mar</span></div>

                <div class="b mv3 f2 lh-title"><span class="ph2 pv1 __box-decoration-break-clone bg-black white">Proactive Workplace Mental Health Summit 2020</span></div>

                <p class="mb0-l"><span class="ph2 pv1 __box-decoration-break-clone bg-black white">University of Suffolk, Waterfront Building, 19 Neptune Quay, IP4 1QJ</span></p>

              </div>

              <div class="w-50-l pl2-l __no-print">

                <img class="db" alt="Resilience, insight, best practice, wellbeing" src="/assets/graphic-1.png">

              </div>

            </div>

          {% endunless %}

          <div class="pv3 pv4-ns ph2 ph4-ns{% if page.link-colour %} __link{% endif %}{% if page.underline %} __underline{%endif %}">

            {% unless page.full-width %}

            <div class="flex-ns">

              <div class="w-two-thirds-ns pr2-ns pr4-l">

            {% endunless %}

                <h1 class="f3 lh-title mb2">{% if page.display-title %}{{ page.display-title }}{% else %}{{ page.title }}{% endif %}</h1>
