{% assign speakers = site.speakers | sort: "order" %}

{% for speaker in speakers %}

  <article class="pb3">

    <header>

      <div class="flex flex-row-reverse items-center">

        <div class="w-80 pl2 pl3-ns">

          <h3 class="lh-title f4 mb1">{{ speaker.name }}</h3>

          <p class="f6 mid-gray ma0">{{ speaker.job-title }} <br>{{ speaker.employer }}</p>

          <p class="f6 mid-gray ma0 i">{{ speaker.talk }}</p>

        </div>

        <div class="w-20 pr2 pr3-ns">

          <img class="db ma0 pa0 br-100" src="/assets/{{ speaker.img }}" alt="{{ speaker.name }}">

        </div>

      </div>

    </header>

    {% unless speaker.content.size == 1 %}

    <details>

      <summary class="pointer mt1 dark-blue __underline">More about {{ speaker.name }}</summary>

      {{ speaker.content }}

    </details>

    {% endunless %}

  </article>

{% endfor %}
