<div class="flex-l flex-wrap-l mv3">

  <div class="w-50-l ph2-l">

    <div class="ba b--moon-gray br2 relative pb5 mb4">

      <h2 class="f4 ma0 pa3 lh-title">General</h2>

      <div class="bg-gold black pa3">

        <p class="ma0 f6">Discounts for charities, partners, not-for-profits and bulk bookings.</p>

        <ul class="ma0 pa0 mt2 pt2 list bt b--white">

          <li>&pound;249 + VAT per ticket for 5+ bookings</li>
          <li>&pound;269 + VAT per ticket for 3-4 bookings</li>
          <li>&pound;299 + VAT per ticket for 1-2 bookings</li>

        </ul>

      </div>

      <div class="mv3 pa3"><a class="b pointer pa2 bg-blue hover-bg-dark-blue white br2 ba b--silver shadow-4 no-underline" href="https://www.eventbrite.com/e/proactive-workplace-mental-health-summit-2020-tickets-90507218527">Buy tickets &rarr;</a><br> <span class="dib f6 lh-title pt3">(will open on the Eventbrite website)</span></div>

    </div>

  </div>

  <div class="w-50-l ph2-l">

    <div class="ph3">

      <h2 class="f4 mb0 lh-title">Charities, not-for-profits and conference partners</h2>

      <p>We offer discounted rates on our general admission ticket. Call or email our helpline to get a discount code</p>

      <ul>

        <li>email: <strong>help@hivesuffolk.co.uk</strong></li>
        <li>tel: <strong>01473 351249</strong> (service provided by Suffolk Libraries customer service team)</li>

      </ul>

    </div>

  </div>

</div>
