{% assign exhibitors = site.exhibitors | sort: "order" %}

{% for exhibitor in exhibitors %}

  <article class="pt3 pb4">

      <h3 class="lh-title f4 mt0 mb2">{{ exhibitor.name }}</h3>

      <div class="flex-l items-center-l">

        {% if exhibitor.img %}

        <div class="w-25-l w-third-l pr3-l mv3">

          <a class="db ma0 pa0 mb1" href="{{ exhibitor.website }}"><img class="db ma0 pa0 center mw4" src="/assets/{{ exhibitor.img }}" alt="{{ exhibitor.name }}"></a>

        </div>

        {% endif %}

        <div class="{% if exhibitor.img %}w-75-l w-two-thirds-l pl3-ns{% else %}w-100{% endif %}">

          {% unless exhibitor.content.size == 1 %}

          <div class="">

            {{ exhibitor.content }}

          </div>

          {% endunless %}

        </div>

      </div>


  </article>

{% endfor %}
