{% assign tickets = site.tickets %}

<div class="flex-l justify-between-l flex-wrap-l mv3">

{% for ticket in tickets %}

  {% capture now-unix-seconds %}{{'now' | date: '%s' }}{% endcapture %}

  {% capture begins-seconds %}{{ ticket.begins | date: '%s' }}{% endcapture %}

  {% capture begins %}{{ begins-seconds | divided_by: 86400}}{% endcapture %}

  {% capture now-unix %}{{ now-unix-seconds | divided_by: 86400}}{% endcapture %}

  {% if now-unix > begins %}

    {% assign is_active_ticket = true %}

  {% else %}

    {% assign is_active_ticket = false %}

  {% endif %}

  <div class="w-30-l ba b--moon-gray br2 relative pb5 mb4">

    <h2 class="f4 ma0 pa3 lh-title{% if is_active_ticket == false %} gray{% endif %}">{{ ticket.name }}</h2>

    <div class="{% if is_active_ticket == true %}bg-gold black {% elsif is_active_ticket == false %}bg-light-gray gray {% endif %}pa3">

      <p class="ma0 f6">{{ ticket.text }}</p>

      <p class="b mt2 pt2 bt b--white">{{ ticket.cost }}</p>

    </div>

    <p class="ma0 ph3 lh-title absolute bottom-1"><small><a class="blue no-underline hover-dark-blue" href="/refunds/">Refund policy</a></small></p>

  </div>

{% endfor %}

</div>
