{% assign speakers = site.speakers | sort: "order" %}

{% for speaker in speakers %}

  <article class="pt3 pb4">

    <header>

      <div class="flex flex-row-reverse items-center">

        <div class="{% if speaker.img %}w-80 pl2{% else %}w-100{% endif %}">

          <h3 class="lh-title f4 mt0 mb1">{{ speaker.name }}</h3>

          <p class="f6 mid-gray ma0">{{ speaker.job-title }} <br>{{ speaker.employer }}</p>

          {% if speaker.talk %}<p class="f6 mid-gray ma0 i">{{ speaker.talk }}</p>{% endif %}

        </div>

        {% if speaker.img %}

        <div class="w-20 pr2 pr3-ns">

          <img class="db ma0 pa0 br-100" src="/assets/{{ speaker.img }}" alt="{{ speaker.name }}">

        </div>

        {% endif %}

      </div>

    </header>

    {% unless speaker.content.size == 1 %}

    <button class="__toggler pointer pa0 bn mt2 bg-white dark-blue __underline">More about {{ speaker.name }}</button>

    <div class="clip">

      {{ speaker.content }}

    </div>

    {% endunless %}

  </article>

{% endfor %}
