{% assign sessions = site.sessions %}

{% for session in sessions %}

  <article class="pb3">

    <header>

      <h3 class="lh-title f4 mb1">{{ session.name }}</h3>

      {% if session.summary %}<p class="mid-gray ma0">{{ session.summary }}</p>{% endif %}

      {% if session.speaker %}<p class="f6 mid-gray mb0 mt1 pt1 bt b--light-gray">{{ session.speaker }}</p>{% endif %}

      {% if session.start-time %}<p class="f6 mid-gray ma0">{{ session.start-time }}</p>{% endif %}

    </header>

    {% unless session.content.size == 1 %}

      <button class="__toggler pointer pa0 bn mt1 bg-white dark-blue __underline">More about this session</button>

      <div class="clip">

        {{ session.content }}

      </div>

    {% endunless %}

  </article>

{% endfor %}
