        {% unless page.full-width %}

        </div>

        <div class="w-third-ns pl2-ns pl4-l">

          <h2 class="f4 lh-title normal mb2">Date and time</h2>

          <p class="f6 mt0 mb4">Mon 30 March 2020 <br>08:15–17:30</p>

          <h2 class="f4 lh-title normal mb2">Location</h2>

          <p class="f6 mt0 mb4">University of Suffolk <br>Waterfront Building <br>19 Neptune Quay <br>IP4 1QJ</p>

        </div>

      </div>

      {% endunless %}

    </div>

    {% if page.map %}{% include map.html %}{% endif %}

  </article>

</main>
