        {% unless page.full-width %}

        </div>

        <div class="w-third-ns pl2-ns pl4-l __no-print">

          <!-- {% include white-paper.html %} -->

          <div class="ph2 bg-light-gray ba b--moon-gray mv3">

            <h2 class="f4 lh-title normal mb2">Sign up for the summit newsletter</h2>

            <p class="f6 mb1">Get updates on speakers, offers and a reminder when we make our mental health in the workplace white paper available.</p>

            <form class="pb2" netlify name="newsletter" action="/confirmation/" netlify-honeypot="bot-field">

              <label for="name" class="db f6 pt2">Your name <span class="red">*</span></label>
              <input required class="__sans-serif border-box w-100 pv1" type="text" name="name" id="name">

              <label for="org" class="db f6 pt2">Your organisation <span class="red">*</span></label>
              <input required class="__sans-serif border-box w-100 pv1" type="text" name="org" id="org">

              <label for="email" class="db f6 pt2">Your email <span class="red">*</span></label>
              <input required class="__sans-serif border-box w-100 pv1" type="email" name="email" id="email">

              <p class="dn"><input name="bot-field"></p>
              <div class="pt2"><button type="submit" class="no-underline ba b--light-gray br2 white bg-blue hover-bg-dark-blue pa2 pointer hover-white">Sign up</button></div>

              <p class="ma0 pt1"><small class="dib lh-title">We won’t share your email address with anyone else and will only contact you about the summit.</small></p>

            </form>

          </div>

          <h2 class="f4 lh-title normal mb2">Date and time</h2>

          <p class="f6 mt0 mb4">Mon 30 March 2020 <br>08:15–17:30</p>

          <h2 class="f4 lh-title normal mb2">Location</h2>

          <p class="f6 mt0 mb4">University of Suffolk <br>Waterfront Building <br>19 Neptune Quay <br>IP4 1QJ</p>

        </div>

      </div>

      {% endunless %}

    </div>

    {% if page.map %}{% include map.html %}{% endif %}

  </article>

</main>
